@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #000000, #0c1f24);
  color: white;
}

nav {
  width: 100%;
  display: flex;
  gap: 30px;
  padding: 18px 40px;
  font-size: 20px;
  font-weight: 500;
}

nav a {
  text-decoration: none;
  color: #00eaff;
  transition: 0.3s;
}

nav a:hover {
  color: white;
  text-decoration: underline;
}

.content {
  padding: 80px 50px;
}

h1 {
  font-size: 55px;
  color: #00eaff;
  margin-bottom: 25px;
  font-weight: 700;
}

